[Unit]
Description=Euclidean Service
[Service]
Type=simple
ExecStart= /usr/bin/python3 /usr/bin/euclidean.py
Restart=on-failure
RestartSec=10
KillMode=process
[Install]
WantedBy=multi-user.target