joblib==1.2.0
keras==2.11.0
lightgbm==3.3.5
numba==0.56.4
numpy==1.23.5
pandas==1.5.3
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.5.0/pt_core_news_sm-3.5.0-py3-none-any.whl
pycaret==3.0.0
pycparser==2.21
scikit-learn==1.2.2
scikit-plot==0.3.7
scipy==1.10.1
streamlit==1.21.0
altair==4.2.2